

body {
    margin: 0;
    color: #82a5ca;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    text-shadow: 1px 1px white;
}

#hero {
    background-image: url("Galaxy.gif");
    background-size: cover;
    padding: 20px 0 450px 0;
    
}

h1 {
    font-size: 45px;
}
.btn {
    padding: 8px 16px;
    border: none;
    background: none;
    font-size: 25px;
    font-weight: 800;
    font-family: inherit;
    color: #82a5ca;
    cursor: pointer;
}
/* 
@font-face {
    font-family: corleone;
    src: url("TheGodfather-v2.ttf");
}

h2 {
    font-family: corleone;
    font-size: 50px;
} */

.exploration {
    border-bottom: 4px solid white;
    cursor: pointer;
}

h3 {
    font-size: 45px;
}

.Terms {
    background-color: #1C1B20;
    padding: 10px;
     cursor: pointer;
}